body {
    background: #050a10;
    color: #00f2ff;
    font-family: 'Courier New', monospace;
    margin: 0;
    overflow: hidden;
}

.ratp-header {
    background: #1a2a3a;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #00f2ff;
}

.line-indicator {
    background: #ffcd00;
    color: black;
    font-weight: bold;
    padding: 5px 15px;
    font-size: 24px;
    margin-right: 20px;
}

#iris-canvas {
    width: 100%;
    height: 60vh;
    background: radial-gradient(circle, #0a1622 0%, #050a10 100%);
    border: 1px solid #1a2a3a;
}

.btn-reg {
    background: #004d52;
    color: #fff;
    border: 2px outset #00f2ff;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.btn-reg:active { border-style: inset; }
