name: IRIS Quality Check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  check:
    runs-on: ubuntu-latest
    if: github.actor != 'github-actions[bot]'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Lint HTML & JS
        run: |
          echo "Vérification de l'intégrité des fichiers IRIS..."
          # Ici on simule un check, pas d'écriture git push
